<!-- add links as needed, possible search bar? -->

<style>

.navbar{
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fffff6;
  position: sticky;
  width: 100%;
  border-bottom:3px solid#816E7C;
}
nav div .navbar-brand{
  float: left;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 200%;
  padding: 0px 30px
}

li{
  float: right;
  list-style-type: none;
}
li a{
  display: block;
  text-align: center;
  padding: 15px 15px 0;
  background-color: #fffff6;
  text-decoration: none;
  list-style-type: none;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  font-size: 100%;
}
li a:hover{
  text-decoration: underline;
}
.profile-pic{
  display: flex;
  position: relative;
  width:50px;
  height:50px;
  border-radius: 100%;
  transform: translateY(-25%);
}
</style>
<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Medifacts</a>

    <!-- Show this for logged out users -->
    <!-- <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right"> -->
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/profile">
          <img class="profile-pic" src="../../../assets/images/kunal.jpg" alt="Profile">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/registerlogin"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a href = "register" class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <!-- <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li> -->
<!-- 
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li> -->

    <!-- </ul> -->

  </div>
</nav>
