<style>
  div.bg {
    background-color:#fffff6;
    padding-top: 60px;
    padding-bottom: 60px;
  }
</style>

<div class="bg">

  <div class="container page">
    <div class="post preview">
      <p>BluePenguin87 - 17 hours ago</p>
      <h1>Has anyone experienced joint pain while taking medication X?</h1>
      <i>in General Questions</i>

      <div class='body'>
        <p>I have been taking medication X for the past two months to treat my chronic condition. While the medication has been effective in managing my symptoms, I have recently started experiencing joint pain that I didn't have before.
          <br><br>I am wondering if anyone else has had a similar experience with medication X and joint pain. Is this a common side effect? If so, did it go away over time, or did you have to switch to a different medication?
          <br><br>I would also love to hear from any doctors or healthcare professionals who have knowledge about this medication and its potential side effects.
          <br><br>Thank you in advance for any advice or insights you can provide!</p>
      </div>
      <div class='interactions'>
        <button class='like'>
          <span>Like</span>
        </button>
        <button class='share'>
          <span>Share</span>
        </button>
      </div>
      <hr>
      <p>0 comments</p>
      <br>
    </div>

  <button (click)="router.navigate(['/posts']);">
    <span>Go to Feed</span>
  </button>
</div>