<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Ceci n'est pas un document HTML</title>
    <h1>epic</h1>
    <p>Laura Rodriguez</p>
  </head>
  <body>
    <svg width="1000" height="600">
        <text x="0" y="15" fill="red">2016!</text>
        <line x1="50" y1="10" x2="1000" y2="10" style="stroke:rgb(255,0,0);stroke-width:2" />
        <text x="0" y="100" fill="blue">2017!</text>
        <line x1="50" y1="100" x2="2000" y2="100" style="stroke:rgb(0, 85, 255);stroke-width:2" />
        
        
        <circle cx="849" cy="100" r="10" stroke="black" stroke-width="3" fill="red" />
        <circle cx="491" cy="10" r="10" stroke="black" stroke-width="3" fill="red" />
</svg>
  </body>
</html>
<router-outlet></router-outlet>