<ng-container class = "registerlogin">
    <header class="header">
      <h1>Mrs. Camel</h1>
      <div class="social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <button (click)="router.navigate(['/posts']);">
            <span>Go to master Page</span>
         </button>
      </div>
      <ul >
     
        <li>Milk</li>
      </ul>  
    </header>
  </ng-container>

  
